@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: stretch;
    }
  
    .logo {
      margin-left: auto;
      margin-right: auto;
    }
  
    .Pt1, .Pt2 {
      width: 100%;
    }
}

body{
    background-color: rgb(54, 52, 52);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.titulo {
  text-shadow: 1px 4px gray;
  font-family: 'Merriweather', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45%;
  width: 65%;
  height: 100px;
  margin: 0 auto;
  background-image: url("https://i.pinimg.com/736x/59/dc/83/59dc83f6b613158ac3becf1a50f503c9.jpg");
  text-align: center;
}

hr{
  width: 98%;
  height: 5px;
  background: radial-gradient(circle, black, rgb(71, 69, 69), gray);
  border-radius: 30%;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 400px;
}

.first img{
  width: 800px;
  height: 400px;
  align-items: center;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: white;
}

.posicao{
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("https://i.pinimg.com/736x/59/dc/83/59dc83f6b613158ac3becf1a50f503c9.jpg");
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.Pt1, .Pt2 {
    align-items: center;
    margin: 50px;
    height: 300px;
    width: 500px;
    flex: 1;
    text-align: center;
    border-radius: 5%;
}

.Pt1:hover, .Pt2:hover {
    border-color: white;
    transform: scale(1.1);
    transition: 0.8s ease;
}

.Pt1:hover p{
  border: solid white;
  transform: translate(556px, -100px);
  transition: 2s;
  background-color: rgb(17, 16, 16);
}

.Pt2:hover p{
  border: solid white;
  transform: translate(-556px, -100px);
  transition: 2s;
  background-color: rgb(17, 16, 16);
}

.Pt1:hover h1 {
  text-shadow: 1px 5px gray;
  border: solid white;
  background-image: url("https://img.freepik.com/fotos-premium/textura-de-grade-de-alto-falante_30478-3606.jpg?w=360");
  transform: translate(0, 100px);
  transition: 2s;
  font-size: 50px;
}

.Pt2:hover h1 {
  text-shadow: 1px 5px gray;
  border: solid white;
  background-image: url("https://img.freepik.com/fotos-premium/textura-de-grade-de-alto-falante_30478-3606.jpg?w=360");
  transform: translate(0, 100px);
  transition: 2s;
  font-size: 41px;
}

.Pt1 p, .Pt2 p {
  border-radius: 20%;
  background-color: rgba(128, 128, 128, 0.6);
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-family: 'Merriweather', serif;
}

.Pt1 h1, .Pt2 h1{
  font-family: 'Merriweather', serif;
  background-color: rgba(128, 128, 128, 0.6);
  border-radius: 25%;
}

h1 {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}

.Pt1 {
    background-image: url("https://img.freepik.com/premium-photo/big-burger-h…od-design-logotype-restaurant-cafe_726113-794.jpg");
    position: relative;
    padding: 50px;
    border: 4px solid rgb(100, 100, 100);
    border-radius: 5%;
  }

  .Pt2 {
    background-image: url("https://img.freepik.com/fotos-premium/particulas-c…so-hamburguer-de-carne-com-explosao_818304-22.jpg");
    position: relative;
    padding: 50px;
    border: 4px solid rgb(100, 100, 100);
    border-radius: 5%;
  }

  .cardapioPosicao{
    background-image: url("https://i.pinimg.com/originals/c9/4a/ff/c94affe6bcb9fbf7d3508ba98977a1d1.jpg");
    width: 100%;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tituloCard{
    text-shadow: 1px 4px gray;
    font-family: 'Merriweather', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45%;
    width: 65%;
    height: 100px;
    background-image: url("https://i.pinimg.com/736x/59/dc/83/59dc83f6b613158ac3becf1a50f503c9.jpg");
    margin: 0 auto;
    text-align: center;
  }

  .cardapioPt1, .cardapioPt2{
    
  }

  .h1, .h2, .h3, .h4{
    border: solid 5px white;
    margin: 20px;
    height: 300px;
    width: 500px;
  }

  .h1{
    background-image: url("https://img.freepik.com/fotos-gratis/cheeseburguer…te-cebola-e-fritas-gerado-por-ia_188544-43039.jpg");
  }