@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: stretch;
    }
  
    .logo {
      margin-left: auto;
      margin-right: auto;
    }
  
    .Pt1, .Pt2 {
      width: 100%;
    }
}

body{
    background: linear-gradient(to right, black, rgb(36, 35, 35), rgb(36, 34, 34));
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45%;
  width: 70%;
  margin: 0 auto;
  background: radial-gradient(circle, black, rgb(71, 69, 69), gray);
  text-align: center;
  background-color: rgb(77, 75, 75);
}

hr{
  width: 98%;
  height: 5px;
  background: radial-gradient(circle, black, rgb(71, 69, 69), gray);
  border-radius: 30%;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 800px;
}

.first img{
  width: 800px;
  align-items: center;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

#radio5:checked ~ .first{
  margin-left: -100%;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background-color: white;
}

.posicao{
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.Pt1, .Pt2 {
    align-items: center;
    margin: 50px;
    height: 300px;
    width: 500px;
    flex: 1;
    text-align: center;
    border-radius: 5%;
}

.Pt1:hover, .Pt2:hover {
    filter: opacity(70%);
    border-color: white;
    transform: scale(1.1);
    transition: 0.8s ease;
}

.Pt1:hover p {
  font-size: 35px;
}

.Pt2:hover p{
  font-size: 33px;
}

.Pt1:hover h1,
.Pt2:hover h1 {
  font-size: 40px;
}

p {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}

.Pt1 {
    position: relative;
    padding: 50px;
    border: 4px solid rgb(100, 100, 100);
    border-radius: 5%;
  }
  
  .Pt1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://img.freepik.com/premium-photo/big-burger-h…od-design-logotype-restaurant-cafe_726113-794.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(70%);
    border-radius: 5%;
    z-index: -1;
  }
  

  .Pt2 {
    position: relative;
    padding: 50px;
    border: 4px solid rgb(100, 100, 100);
    border-radius: 5%;
  }
  
  .Pt2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("Imagens/_98f78ff4-fef3-4631-8ced-a0a1396b6909.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -1;
    border-radius: 5%;
  }
